page-restaurant {
    .size-bt{
        // padding-right: 10px !important;
        // padding-left: 8px !important;
        width: 25px !important;
        height: 25px !important;
    }
    .div-padding {
        padding: 3px;
    }
    .scrool-bg {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
        height: 170px;
        padding-left: 5px !important;
    }
    .inner {
        padding-top: 5px !important;
        display: table-cell;
        ion-card {
            padding: 0 !important;
            margin: 3px !important;
            width: 100px !important;
            height: 150px !important;
      // border: solid 1px #ccc;
        }
    }
    .card-content {
        text-align: center !important;
        font-size: 12px !important;
        width: 100% !important;
        margin-top: 3px;
        padding-top: 3px !important;
        padding-left: 3px !important;
        padding-right: 3px !important;
        line-height:1em;
        height:2.8em;
        overflow: hidden;
    }
    ion-searchbar{
        caret-color: #ffffff;
    }

}
.img-bg{
    border-radius: 2px;
    height: auto;
    width: 95%; 
    // margin-top: 0.5rem;
}
.danger3{
    font-size: 12px; 
    text-align: left; 
} 
.danger4{ 
    text-align: left; 
}
.text-ag1{
    margin-top: 2%;
    font-size: 16px;  
}
.text-ag2{  
    margin-top: -5px;
    font-size: 16px;
} 
.text-ag3{
    margin-top: -13px;
    font-size: 14px;
}
.text-ag4{
    font-size: 14px;
} 
.item-size2{   
    height: 0.5rem; 
}
.col2-m{
    right: 15%;
}